/* acgbckcjlpneapibaifnhpjnnakijihm */

@font-face {  
    font-family: FreeSans;
    font-style: normal;
    font-weight: normal;
    src: local("FreeSans"), url(chrome-extension://acgbckcjlpneapibaifnhpjnnakijihm/OTF/FreeSans.otf) format("opentype");
}

@font-face {  
    font-family: FreeSans;
    font-style: oblique;
    font-weight: normal;
    src: local("FreeSans"), url(chrome-extension://acgbckcjlpneapibaifnhpjnnakijihm/OTF/FreeSansOblique.otf) format("opentype");
}

@font-face {  
    font-family: FreeSans;
    font-style: normal;
    font-weight: bold;
    src: local("FreeSans"), url(chrome-extension://acgbckcjlpneapibaifnhpjnnakijihm/OTF/FreeSansBold.otf) format("opentype");
}

@font-face {  
    font-family: FreeSans;
    font-style: oblique;
    font-weight: bold;
    src: local("FreeSans"), url(chrome-extension://acgbckcjlpneapibaifnhpjnnakijihm/OTF/FreeSansBoldOblique.otf) format("opentype");
}
