body {
    font-family: 'Helvetica Neue', Helvetica, FreeSans, sans-serif;
    font-size: 80%;
    text-rendering: optimizeLegibility;
    background-color: #fff;
}

#warnings {
    border: 1px solid #aaa;
    margin-bottom: 15px;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    display: none;
    background-color: #ffffe0;
}

header,
.options {
    width: 380px;
    margin: 10px auto;
}

header {
    text-align: center;
}

header h1 {
    font-weight: normal;
    font-size: 300%;
    margin: 0 0 20px 0;
}

.options fieldset {
    border: 1px solid #aaa;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-radius: 5px;
}

.options fieldset p {
    margin: 10px 0;
}

.options fieldset hr {
    border: none;
    border-top: 1px solid #aaa;
    margin: 5px 0 15px;
    padding: 0;
}

.options fieldset .selection label {
    display: inline-block;
    width: 180px;
    text-align: left;
}

.options fieldset .selection select {
    text-align: left;
}

.disabled {
    color: #aaa;
}

.column-2 { -webkit-column-count: 2; }
