body {
    font-family: 'Helvetica Neue', Helvetica, FreeSans, sans-serif;
    font-size: 80%;
    text-rendering: optimizeLegibility;
    background-color: #fff;
}

#warnings {
    border: 1px solid #aaa;
    margin-bottom: 15px;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    display: none;
    background-color: #ffffe0;
    width: 338px;
}

p {
    cursor: default;
}

header,
.options {
    width: 380px;
    margin: 10px auto;
}

header {
    text-align: center;
}

header h1 {
    font-weight: normal;
    font-size: 300%;
    margin: 0 0 20px 0;
}

.options fieldset {
    border: 1px solid #aaa;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-radius: 5px;
}

.options fieldset p {
    margin: 10px 0;
}

.options fieldset hr {
    border: none;
    border-top: 1px solid #aaa;
    margin: 5px 0 15px;
    padding: 0;
}

.options fieldset .selection {
    width: 334px;
    padding: 0;
    margin: 0;
}

.options fieldset .selection label {
    display: inline-block;
    width: 180px;
    text-align: right;
    padding-right: 6px;
}

.options fieldset .selection select {
    text-align: left;
    max-width: 140px;
}

.options fieldset .selection input[type="text"] {
    border: 1px solid #aaa;
    padding: 2px 4px;
    width: 130px;
}

#custom-font-sample {
    margin-bottom: 8px;
}

#custom-font-sample .sample {
    width: 334px;
    padding: 4px 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 150%;
    white-space: nowrap;
}

#replacement_custom:focus {
    background-color: #cfc;
}

#replacement_custom.notfound {
    background-color: #ffffe0;
}

#replacement_custom.notfound:focus {
    background-color: #fcc;
}

.disabled {
    color: #aaa;
}

.column-2 { -webkit-column-count: 2; }

/* font check */

#fontTest {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: 0;
    font-weight: bold;
    font-size: 200px !important;
}
